<div class="d-flex" style="height: 100vh" [abpLoading]="loading$ | async">
  <div id="left-panel">
    <a id="cts-banner" href="/">
      <img id="cts-logo" src="assets/images/logo/logodatn.png" />
      <div id="cts-title-wrapper">
        <div id="cts-title">HIRING DATN</div>
        <div id="cts-subtitle">Hiring DATN</div>
      </div>
    </a>
    <div id="nav-menu">
      <p-panelmenu [model]="navMenu" [multiple]="true" />
    </div>
  </div>
  <div id="right-panel">
    <div id="right-panel-header">
      <div id="app-name">APP Hiring DATN</div>
      <div id="control-bars">
        <!-- <app-language-switch></app-language-switch> -->
        <!-- <app-header-notification></app-header-notification> -->
        <app-user-menu></app-user-menu>
      </div>
    </div>
    <div id="right-panel-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<p-confirmdialog [header]="'::AreYouSure' | abpLocalization" icon="pi pi-exclamation-triangle" styleClass="app-confirm-dialog"
  acceptIcon="pi pi-check" [acceptLabel]="'::Yes' | abpLocalization" rejectIcon="pi pi-times" [rejectLabel]="'::Cancel' | abpLocalization"
  acceptButtonStyleClass="p-button-danger" rejectButtonStyleClass="p-button-secondary" appendTo="body" key="global" focusTrap />
<p-toast key="global" position="bottom-right" style="z-index: 2222;"/>