<ng-template #contentTpl let-row>
  <div class="tnpc-cell" style="width: 100%">
    <ng-container [ngSwitch]="row.__level || 0">
      <span *ngSwitchCase="0" class="group-title">{{ row.title | romanPrefix : row.sIdx }}</span>
      <span *ngSwitchCase="1" class="item-title">{{ row.title }}</span>
      <span *ngSwitchDefault class="desc">{{ row.title }}</span>

      <!-- Hiển thị thêm cho cấp level 2: Nội dung trả lời -->
      <div *ngIf="(row.__level || 0) === 2" class="reply-block">
        <div class="file-y-kien">
          <!-- nội dung xin ý kiến -->
          <div class="reply-label">Nội dung xin ý kiến HĐQT</div>
          <input
            type="text"
            class="reply-textarea"
            [value]="row.replyContent || ''"
            [disabled]="true"
          />

          <!-- File đính kèm cho cấp 2 (xin ý kiến - từ noiDungXuLyDtos) -->
          <div class="reply-attachments">
            <div class="reply-left">
              <div *ngIf="row.filesXuLyReply && row.filesXuLyReply.length" class="reply-file-list">
                <div *ngFor="let f of row.filesXuLyReply; let i = index" class="reply-file-chip">
                  <i class="pi pi-paperclip file-icon"></i>
                  <a
                    *ngIf="f.url; else nameOnly2"
                    [href]="f.url"
                    target="_blank"
                    rel="noopener"
                    class="file-link"
                    (click)="$event.stopPropagation()"
                    >{{ f.name }}</a
                  >
                  <ng-template #nameOnly2>
                    <span>{{ f.name }}</span>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- nội dung hđqt -->
        <div class="file-Tra-Loi" *ngIf="formKey !== 'ChoVPHDQT_TiepNhan'">
          <div class="reply-label">Nội dung HĐQT trả lời</div>
          <input
            type="text"
            class="reply-textarea"
            [(ngModel)]="row.replyHDQTContent"
            placeholder="Nhập nội dung trả lời"
          />

          <button
            pButton
            type="button"
            class="p-button-text p-0"
            icon="pi pi-plus"
            style="color: #f79009"
            label="Thêm file đính kèm"
            (click)="triggerFileInput('reply_file_' + row.id); $event.stopPropagation()"
          ></button>
          <!-- File đính kèm cho cấp 2 (HĐQT trả lời - từ noiDungVPHDQTDto) -->
          <div class="reply-attachments">
            <div class="reply-left">
              <!-- input ẩn cho file trả lời -->
              <input
                type="file"
                class="d-none"
                [attr.id]="'reply_file_' + row.id"
                multiple
                (change)="onFileSelectReply($event, row)"
              />
              <div *ngIf="row.filesReply && row.filesReply.length" class="reply-file-list">
                <div *ngFor="let f of row.filesReply; let i = index" class="reply-file-chip">
                  <i class="pi pi-paperclip file-icon"></i>
                  <a
                    *ngIf="f.url; else nameOnly2"
                    [href]="f.url"
                    target="_blank"
                    rel="noopener"
                    class="file-link"
                    (click)="$event.stopPropagation()"
                    >{{ f.name }}</a
                  >
                  <ng-template #nameOnly2>
                    <span>{{ f.name }}</span>
                  </ng-template>
                  <button
                    pButton
                    type="button"
                    class="p-button-text p-button-danger p-0"
                    icon="pi pi-times"
                    title="Xóa"
                    (click)="removeReplyFile(row, i); $event.stopPropagation()"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<!-- Cột FILE ĐÍNH KÈM -->
<ng-template #filesTpl let-row>
  <div class="files-col">
    <div *ngIf="row.files && row.files.length; else noFiles" class="files-list">
      <div *ngFor="let f of row.files" class="file-row">
        <i class="pi pi-paperclip file-icon"></i>
        <a
          *ngIf="f.url; else nameOnly"
          [href]="f.url"
          target="_blank"
          rel="noopener"
          class="file-ellipsis file-link"
          (click)="onViewAttachment(f)"
          [title]="f.name"
        >
          {{ f.name }}
        </a>
        <ng-template #nameOnly>
          <span class="file-ellipsis" [title]="f.name">{{ f.name }}</span>
        </ng-template>
        <a
          *ngIf="f.url"
          [href]="f.url"
          download
          (click)="$event.stopPropagation()"
          title="Tải xuống"
          class="file-download"
        >
          <i class="pi pi-download"></i>
        </a>
      </div>
    </div>
  </div>
</ng-template>

<div class="tnpc">
  <vnx-dynamic-table
    [data]="dataSig()"
    [isTree]="true"
    [childrenField]="'children'"
    [treeExpandAll]="false"
    [columns]="[
      { field: 'title', header: 'NỘI DUNG XIN Ý KIẾN', templateKey: 'content', width: '60%' },
      { field: 'files', header: 'FILE ĐÍNH KÈM', templateKey: 'files', width: '20%' }
    ]"
    [config]="{
      rows: 50,
      rowHover: true,
      showIndex: false,
      useExternalPaginator: false,
      scrollHeight: 'flex'
    }"
    [cellTemplates]="{ content: contentTpl, files: filesTpl }"
    [showFilter]="false"
    [showToggleFilter]="false"
  ></vnx-dynamic-table>

  <!-- Mục File -->
  <div class="issues">
    <div class="attachments-section">
      <input
        type="file"
        class="d-none"
        id="att_tthdqt"
        [multiple]="false"
        (change)="onFileSelectBottom($event, 'fileYKien')"
      />
      <input
        type="file"
        class="d-none"
        id="att_tt"
        [multiple]="false"
        (change)="onFileSelectBottom($event, 'fileVPHDQT')"
      />
      <input
        type="file"
        class="d-none"
        id="att_cvtlndd"
        [multiple]="false"
        (change)="onFileSelectBottom($event, 'fileCongVanTraLoiNguoiDaiDien')"
      />

      <div class="attach-row" *ngIf="isAttachmentVisible('fileYKien')">
        <div class="attach-title">File nội dung xin ý kiến <span class="required">*</span></div>
      </div>

      <div
        class="files-list"
        *ngIf="isAttachmentVisible('fileYKien') && filesToTrinhHDQTDisplay.length"
      >
        <div class="file-row" *ngFor="let f of filesToTrinhHDQTDisplay; let i = index">
          <i class="pi pi-paperclip file-icon"></i>
          <a
            *ngIf="f.url; else ttNameOnly"
            [href]="f.url"
            target="_blank"
            rel="noopener"
            class="file-ellipsis file-link"
            (click)="$event.stopPropagation()"
            >{{ f.name }}</a
          >
          <ng-template #ttNameOnly
            ><span class="file-ellipsis">{{ f.name }}</span></ng-template
          >
          <a
            *ngIf="f.url"
            [href]="f.url"
            download
            (click)="$event.stopPropagation()"
            title="Tải xuống"
            class="file-download"
            ><i class="pi pi-download"></i
          ></a>
          <button
            pButton
            type="button"
            class="p-button-text p-button-danger p-0"
            icon="pi pi-times"
            title="Xóa"
            (click)="removeBottomFile('fileYKien', i); $event.stopPropagation()"
            [disabled]="disabled"
          ></button>
        </div>
      </div>
      <div class="attach-row" *ngIf="isAttachmentVisible('fileVPHDQT')">
        <div class="attach-title">File văn phòng HĐQT trả lời <span class="required">*</span></div>
        <button
          pButton
          type="button"
          class="p-button-text p-0"
          icon="pi pi-plus"
          label="Thêm file đính kèm"
          style="color: #f79009"
          (click)="triggerFileInput('att_tt'); $event.stopPropagation()"
          [disabled]="disabled || (filesToTrinhDisplay && filesToTrinhDisplay.length >= 1)"
        ></button>
      </div>
      <div
        class="files-list"
        *ngIf="isAttachmentVisible('fileVPHDQT') && filesToTrinhDisplay.length"
      >
        <div class="file-row" *ngFor="let f of filesToTrinhDisplay; let i = index">
          <i class="pi pi-paperclip file-icon"></i>
          <a
            *ngIf="f.url; else ttNameOnly"
            [href]="f.url"
            target="_blank"
            rel="noopener"
            class="file-ellipsis file-link"
            (click)="$event.stopPropagation()"
            >{{ f.name }}</a
          >
          <ng-template #ttNameOnly
            ><span class="file-ellipsis">{{ f.name }}</span></ng-template
          >
          <a
            *ngIf="f.url"
            [href]="f.url"
            download
            (click)="$event.stopPropagation()"
            title="Tải xuống"
            class="file-download"
            ><i class="pi pi-download"></i
          ></a>
          <button
            pButton
            type="button"
            class="p-button-text p-button-danger p-0"
            icon="pi pi-times"
            title="Xóa"
            (click)="removeBottomFile('fileVPHDQT', i); $event.stopPropagation()"
          ></button>
        </div>
      </div>

      <div class="attach-row" *ngIf="isAttachmentVisible('fileCongVanTraLoiNguoiDaiDien')">
        <div class="attach-title">File công văn trả lời NĐD <span class="required">*</span></div>
        <button
          pButton
          type="button"
          class="p-button-text p-0"
          icon="pi pi-plus"
          label="Thêm file đính kèm"
          style="color: #f79009"
          (click)="triggerFileInput('att_cvtlndd'); $event.stopPropagation()"
          [disabled]="
            disabled ||
            (fileCongVanTraLoiNguoiDaiDien && fileCongVanTraLoiNguoiDaiDienDisplay.length >= 1)
          "
        ></button>
      </div>
      <div
        class="files-list"
        *ngIf="
          isAttachmentVisible('fileCongVanTraLoiNguoiDaiDien') &&
          fileCongVanTraLoiNguoiDaiDienDisplay.length
        "
      >
        <div
          class="file-row"
          *ngFor="let f of fileCongVanTraLoiNguoiDaiDienDisplay; let i = index"
        >
          <i class="pi pi-paperclip file-icon"></i>
          <a
            *ngIf="f.url; else ttNameOnly"
            [href]="f.url"
            target="_blank"
            rel="noopener"
            class="file-ellipsis file-link"
            (click)="$event.stopPropagation()"
            >{{ f.name }}</a
          >
          <ng-template #ttNameOnly
            ><span class="file-ellipsis">{{ f.name }}</span></ng-template
          >
          <a
            *ngIf="f.url"
            [href]="f.url"
            download
            (click)="$event.stopPropagation()"
            title="Tải xuống"
            class="file-download"
            ><i class="pi pi-download"></i
          ></a>
          <button
            pButton
            type="button"
            class="p-button-text p-button-danger p-0"
            icon="pi pi-times"
            title="Xóa"
            (click)="
              removeBottomFile('fileCongVanTraLoiNguoiDaiDien', i); $event.stopPropagation()
            "
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
