<div class="d-flex" *ngIf="viewMode === 'list'">
  <vt-button
    type="button"
    [label]="'::CreateNew' | abpLocalization"
    [color]="'custom'"
    [width]="112"
    [height]="36"
    breadcrumbMode="create"
    breadcrumbEntity="tin tuyển dụng" 
    [breadcrumb]="true"
    (buttonClick)="startCreate()"
  ></vt-button>
</div>

<div class="page">
  <app-create-update-job-position-modal
    *ngIf="viewMode !== 'list'"
    #inlineCreateUpdate
    [inline]="true"
    [modalTitle]="formTitle"
    [updateJobPositionDto]="updateJobPositionDto"
    [readOnly]="viewMode === 'view'"
    (saved)="onChildSaved($event)"
    (canceled)="onChildCanceled()"
  ></app-create-update-job-position-modal>
  <!-- Advanced filter template -->
  <ng-template #advancedFilter>
    <div class="row">
      <div class="col-3 form-group">
        <label for="trangThai">Trạng thái</label>
        <p-select
          [(ngModel)]="searchTerms.trangThai"
          id="trangThai"
          styleClass="w-100"
          [options]="trangThaiOptionsWithAll"
          optionLabel="displayName"
          optionValue="id"
          display="chip"
          (onChange)="onSearchSubmit()"
        ></p-select>
      </div>
    </div>
  </ng-template>

  <vnx-dynamic-table
    *ngIf="viewMode === 'list'"
    [data]="dataDisplay"
    [columns]="columns"
    [actions]="actions"
    [config]="config"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [lazy]="false"
    [autoBreadcrumbActions]="true"
    breadcrumbEntity=""
    [searchKeyword]="searchKeyword"
    [showAdvancedFilter]="showFilter"
    [filterTemplate]="advancedFilter"
    [selection]="selectedRows"
    (selectionChange)="onSelectionChange($event)"
    (searchInputChange)="onSearchKeywordChange($event)"
    (searchSubmit)="onSearchSubmit()"
    (toggleFilterChange)="onToggleFilter($event)"
    (pageChange)="onPageChange($event)"
    (rowsPerPageChange)="onRowsPerPageChange($event)"
    (actionClick)="onAction($event)"
    (rowClick)="onRowClick($event)"
  >
  </vnx-dynamic-table>
</div>

