<ng-container *ngIf="inline">
  <app-toggleable-card title="Thông tin vị trí">
    <div class="card-body">
      <form
        [formGroup]="form"
        class="p-fluid"
        (ngSubmit)="!readOnly && (updateJobPositionDto?.id ? save() : saveAndNew())"
      >
        <div class="row">
          <div class="col-6 form-group">
            <label for="name">Tên vị trí <span class="text-danger">*</span></label>
            <input
              pInputText
              type="text"
              id="name"
              placeholder="Nhập tên vị trí"
              formControlName="name"
              class="w-100"
            />
          </div>
          <div class="col-6 form-group">
            <label for="alias">Bí danh <span class="text-danger">*</span></label>
            <input
              pInputText
              type="text"
              id="alias"
              placeholder="Nhập bí danh"
              formControlName="alias"
              class="w-100"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="card-fotter d-flex justify-content-between align-items-center" style="padding: 10px">
      <div></div>
      <div class="d-flex gap-2">
        <vt-button
          type="button"
          [label]="readOnly ? 'Đóng' : 'Hủy'"
          [color]="readOnly ? 'danger' : 'danger'"
          [outline]="true"
          [width]="112"
          [height]="36"
          (buttonClick)="close()"
        >
          <i class="pi pi-times"></i>
        </vt-button>
        <vt-button
          *ngIf="!readOnly"
          type="button"
          [disabled]="form?.invalid || form?.pending"
          [label]="(updateJobPositionDto?.id ? 'Cập nhật' : 'Thêm mới')"
          [color]="'custom'"
          [width]="112"
          [height]="36"
          (buttonClick)="form?.invalid || form?.pending ? null : save()"
        >
          <i class="pi pi-check"></i>
        </vt-button>
      </div>
    </div>
  </app-toggleable-card>
</ng-container>